@use "reset";
@use "variables"as v;

.container-app {
    margin: 5rem 10rem;
}

// HEADER 
header {
    position: relative;
    margin-bottom: 3rem;
}

header img {
    width: 40rem;
}

header .btn {
    position: absolute;
    right: 0rem;
    top: 1.8rem;
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    color: v.$white;
    text-decoration: none;
    padding: 1.2rem 3.4rem;
    background: v.$color-primary;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}

header .btn:hover {
    transform: scale(0.95);
}


// Page d'accueil

.home__item {
    position: relative;
    display: flex;
    margin-bottom: 3rem;
    background: white;
}

.home__item img {
    width: 40rem;
}

.item__details {
    margin-left: 4rem;
    margin-top: 4rem;

    h3 {
        font-size: 8rem;
        color: v.$color-primary;
    }

    p {
        font-size: 2.5rem;
    }
}

.item__trait {
    position: absolute;
    right: 40rem;
    top: 2rem;
    height: 35rem;
    width: 0.12rem;
    background-color: rgb(196, 194, 194);
}

.item__price {
    align-self: center;
    position: absolute;
    right: 12rem;

    &--promo {
        color: red;
        font-size: 5rem;
        font-weight: bold;
    }
    &--normal {
        margin-left: 2rem;
        text-decoration: line-through;
        font-size: 2.5rem;
    }
}

.item__erase {
    position: absolute;
    right: 14rem;
    bottom: 1rem;
    padding: 1rem;
    border: 1px solid red;
    margin-bottom: 1rem;
    text-decoration: none;
    color: red;
}

// PAGINATION
.pagination {
    padding: 2rem 0;
    text-align: center;
}

.pagination .pagination__item {
    display: inline-block;
    margin: 0 0.25rem;
}

.pagination .pagination__item a {
    color: #111111;
    border: 0.2rem solid #111111;
    padding: 1.5rem 2rem;
}

.pagination .pagination__item.active a {
    color: #c5c5c5;
    border-color: #c5c5c5;
    cursor: default;
}

.pagination .pagination__item:not(.active) a:hover {
    background-color: #111111;
    color: #f2f0f1;
}

// Page d'ajout d'un matelas
h1 {
    text-align: center;
}
form {
    margin-top: 1rem;
    background: white;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .form__group {
        flex-basis: 100%;
        
        @media screen and (min-width: v.$md-breakpoint) {
            flex-basis: 50%;
        }

        padding: 0 3rem;
        margin-bottom: 2rem;

        label {
            display: block;
            margin-bottom: 1rem;
        }

        input {
            display: block;
            width: 100%;
            padding: 1rem;
            border-radius: 2rem;
            border: 0;
            box-shadow: 0 0 1rem #ddd;
        }
    }
}

.form__button {
    font-family: "Filson Soft";
    font-size: 1.8rem;
    background-color: v.$color-primary;
    color: white;
    padding: 1rem 2rem;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
}